# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: team5
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

plugins:
  - serverless-python-requirements
  - serverless-iam-roles-per-function
  - serverless-dotenv-plugin

custom:
  pythonRequirements:
    slim: true
    layer: true
    dockerizePip: non-linux

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '2'

provider:
  role:
    permissionsBoundary: arn:aws:iam::505617246107:policy/ScopePermissions

  name: aws
  runtime: python3.7
  lambdaHashingVersion: 20201221
# you can overwrite defaults here
  stage: dev
  region: eu-west-1 
  iam:
    role: arn:aws:iam::505617246107:role/team-5-execution-role
  vpc:
    securityGroupIds:
      - sg-08915876469706265
    subnetIds:
      - subnet-0abef5f20cc40db46

package:
  individually: false
  include:
    - src/**
    - requirements.txt
  exclude:
    - "*"
    - "*/**"

functions:
  team5:
    handler: src/handler.handle
    timeout: 10
    layers:
      - !Ref PythonRequirementsLambdaLayer
    events:
      - s3:
          bucket: team5-final-project
          event: s3:ObjectCreated:*
          existing: true
          rules:
            - suffix: .csv
    # iamRoleStatements:
    #   - Effect: "Allow"
    #     Action:
    #       - s3:GetObject
    #       - s3:ListBucket
    #     Resource:
    #       - arn:aws:s3:::my-bucket
    #       - arn:aws:s3:::my-bucket/*

# you can add CloudFormation resource templates here
resources:
  Resources:
    IamRoleCustomResourcesLambdaExecution:
      Type: AWS::IAM::Role
      Properties:
        PermissionsBoundary: arn:aws:iam::505617246107:policy/ScopePermissions
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"

# you can add statements to the Lambda function's IAM Role here

      
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1


    
#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
#    events:
#      - httpApi:ยง
#          path: /users/create
#          method: get
#      - websocket: $connect
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000
#      - alexaSkill: amzn1.ask.skill.xx-xx-xx-xx
#      - alexaSmartHome: amzn1.ask.skill.xx-xx-xx-xx
#      - iot:
#          sql: "SELECT * FROM 'some_topic'"
#      - cloudwatchEvent:
#          event:
#            source:
#              - "aws.ec2"
#            detail-type:
#              - "EC2 Instance State-change Notification"
#            detail:
#              state:
#                - pending
#      - cloudwatchLog: '/aws/lambda/hello'
#      - cognitoUserPool:
#          pool: MyUserPool
#          trigger: PreSignUp
#      - alb:
#          listenerArn: arn:aws:elasticloadbalancing:us-east-1:XXXXXX:listener/app/my-load-balancer/50dc6c495c0c9188/
#          priority: 1
#          conditions:
#            host: example.com
#            path: /hello

#    Define function environment variables here
#    environment:
#      variable2: value2